body {
  font-family: Arial, sans-serif;
  background-color: #359ee4; /* Warna latar belakang biru */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 280px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error-message {
  color: red;
}

